---
page_title: "{{.RenderedProviderName}} Provider"
---

# {{.RenderedProviderName}} Provider

This provider is used to interact with the resources provided by the **{{.RenderedProviderName}}** application of the [Nokia EDA](https://docs.eda.dev) platform.

For complete information about using the provider and reference examples, please refer to the [Terraform for Nokia EDA documentation](https://docs.eda.dev/latest/development/terraform/).

For support, please join [Nokia EDA Discord](https://eda.dev/discord).

{{ .SchemaMarkdown | trimspace }}